#root {
  margin: 0;

}

div .newDiv {
  background-color: gainsboro;
  padding: 20px;
  border-radius: 20px;
  border: 2px inset rebeccapurple;
}

button {
  background-color: burlywood;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: medium;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}