#root {
  margin: 0;

}

div .newDiv {
  background-color: gainsboro;
  padding: 20px;
  border-radius: 20px;
  border: 2px inset rebeccapurple;
}

button {
  background-color: burlywood;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: medium;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

li{
  list-style: none;
}
.navigationSection{
  background-color: rgb(198, 198, 224);
  display: flex;
}

.navigationList ul{
  display: flex;
  justify-content: space-between;
 gap: 24px;

}
.navigationSection img{
  width: 50px;
  height: 50px;
}